/* 布局样式  */
.Home_layout {
    min-height: 100%;
}

.Home_layout .Home_header {
    height: 64px;
    line-height: 64px;
    padding: 0 60px;
    background: #D1EEEE;
}

.Home_layout .Home_footer {
    position: fixed;
    bottom: 0;
    height: 64px;
    width: 100%;
    padding: 0 60px;
    background: #D1EEEE;
}

.Home_layout .ant-layout-sider .ant-menu {
    background: #F0FFFF;
}

.Home_layout .Home_main {
    height: 100vh;
}

.Home_layout .Home_content {
    display: inline-block;
}