/* 布局样式  */
.Home_layout {
    position: relative;
    min-height: 100%;
}

.Home_layout .Home_header {
    height: 10%;
    line-height: 10%;
    padding: 0 60px;
    background: #D1EEEE;
}

.Home_layout .Home_footer {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    padding: 0 60px;
    background: #D1EEEE;
}

.Home_layout .ant-layout-sider .ant-menu {
    background: #F0FFFF;
}

.Home_layout .Home_content {
    display: inline-block;
}