/* 布局样式  */
.Home_layout {
    position: relative;
    min-height: 100%;
}

.Home_layout .Home_header {
    height: 80px;
    line-height: 80px;
    padding: 0 60px;
    background: #D1EEEE;
}

.Home_layout .Home_footer {
    position: absolute;
    bottom: 0;
    padding: 0 60px;
    width: 100%;
    background: #D1EEEE;
}

.Home_layout .ant-layout-sider .ant-menu {
    background: #F0FFFF;
}