/* 布局样式  */
.Home_layout {
    min-height: 100%;
}

.Home_layout .Home_header {
    height: 64px;
    line-height: 64px;
    padding: 0 60px;
    background: #D1EEEE;
}

.Home_layout .Home_footer {
    position: fixed;
    bottom: 0;
    height: 64px;
    width: 100%;
    padding: 0 60px;
    background: #D1EEEE;
}

.Home_layout .Home_sider {
    display: inline-block;
    height: 84vh;
    background: #F0FFFF;
}

.Home_layout .ant-layout-sider .ant-menu {
    background: #F0FFFF;
}

.Home_layout .Home_main {
    display: flex;
    height: 84vh;
}

.Home_layout .Home_content {
    width: 100%;
    display: inline-block;
}

/* scroll样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(#101F1C, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(#101F1C, 0.5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(#101F1C, 1);
}