.Home_layout .ant-layout-header {
    background: #ccc;
}

.Home_layout .ant-layout-footer {
    background: #ccc;
}

.Home_layout .ant-layout-content {
    background: #fff;
}

.Home_layout .ant-layout-sider {
    background: #fff;
}